*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  height: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: black;
}

main{
  height: calc(100vh - 100px);
  overflow: auto;
}

footer{
  height: 60px;
  background-color: #222222;
}

/*header*/
header ul {
  list-style: none;
  display: flex;
}

header ul li{
  margin-right: 5px;
}

button{
  padding: 5px 5px;
  background-color: #4A4A4A;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.fa-table-cells{
  padding-right: 5px;
}

/*main*/


/*footer*/
footer nav{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

footer ul{
  display: flex;
  justify-content: space-between;
  list-style: none;

}

footer ul li{
  color: white;
  padding: 15px;
}

.fa-chevron-up{
  font-size: 0.5rem;
}
